@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
  }

  &__item {
    @include pagination-buttons-style;

    border: 1px solid var(--elements-color);

    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    &--arrows {
      @include pagination-buttons-style;

      border: 1px solid var(--icons-color);

      &.disabled {
        border-color: var(--elements-color);
        cursor: none;
        opacity: 0.5;
      }
    }
  }

  &__active {
    background-color: var(--primary-color);
    color: var(--surface-color);
  }
}
