@import '../../../../styles/utils/variables';
@import '../../../../styles/utils/mixins';

.actions {
  display: flex;
  &__action {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid $elements-color;
    display: flex;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      width: 48px;
    }

    @include on-desktop {
      width: 64px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      bottom: 0;
      left: 0;

      transition: transform 0.4s;
      transform: scale(0);
      transform-origin: center;
    }

    &:hover {
      &::after {
        transform: scale(1);
      }
    }

    &--active {
      &::after {
        transform: scale(1);
      }
    }
  }
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 50%;
  top: 50%;

  border-radius: 50%;
  border: 1px solid $white-color;
  background-color: $accent-color;

  font-family: Mont;
  font-size: 9px;
  font-weight: 700;
  line-height: 11.5px;
  text-align: center;
  color: $white-color;

  transform: translate(calc(-50% + 10px), -100%);

  @include only-mobile {
    transform: translate(calc(-50% + 10px), -100%);
  }

  @include on-desktop {
    bottom: 32px;
    left: 32px;
  }
}
