@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.card {
  display: flex;
  flex-direction: column;

  // width: 272px;

  padding: 32px;
  gap: 8px;
  border: 1px solid $elements-color;
  border-radius: 8px;

  background-color: $white-color;

  list-style: none;
  font-family: Mont, sans-serif;

  transition:
    transform 0.3s,
    box-shadow 0.3s;

  &:hover {
    box-shadow: 0 2px 16px 0 #0000001a;
    transform: scale(1.1);
    z-index: 1;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    gap: 8px;
    height: 262px;
    max-height: 262px;
    overflow: hidden;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 175px;
    width: 166px;
    object-fit: contain;
    flex-grow: 1;

    &--img {
      display: block;
      height: 100%;
    }
  }

  &__name {
    padding-top: 16px;
    flex-grow: 0;

    text-decoration: none;
    line-height: 21px;
    font-weight: 600;
    font-size: 14px;
    color: $primary-color;
  }

  &__price {
    display: flex;
    margin-top: 8px;
    gap: 8px;

    &--value {
      font-size: 22px;
      font-weight: 800;
      color: $primary-color;
    }

    &--old-value {
      position: relative;
      isolation: isolate;

      font-size: 22px;
      font-weight: 500;
      color: $secondary-color;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        mix-blend-mode: color-dodge;
        background-color: $secondary-color;
        transform: translateY(-50%);
      }
    }
  }

  &__divider {
    height: 1px;
    background-color: $elements-color;
    margin: 8px 0;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    gap: 8px;

    &--container {
      display: flex;
      justify-content: space-between;

      &-name {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.34px;
        color: $secondary-color;
      }

      &-value {
        font-size: 12px;
        font-weight: 700;
        line-height: 15.34px;
        color: $primary-color;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-top: 8px;
  }
}
