$accent-color: #4219D0;
$secondary-accent-color: #F4BA47;
$primary-color: #0F0F11;
$secondary-color: #89939A;
$icons-color: #B4BDC3;
$elements-color: #E2E6E9;
$hover-background-color: #FAFBFC;
$white-color: #FFF;
$green-color: #27AE60;
$red-color: #EB5757;
$shadow-color: #17203166;
