@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.header {
  display: flex;
  align-items: center;
  position: sticky;
  height: 48px;
  box-shadow: 0 1px 0 0 $elements-color;

  @include on-desktop {
    height: 64px;
  }

  &__logo {
    padding-inline: 16px;

    @include on-desktop {
      padding-inline: 24px;
    }
  }
}

.nav_bar {
  display: none;
  justify-content: space-between;

  width: 100%;

  letter-spacing: 0.04em;

  @include on-tablet {
    display: flex;
  }
}
