@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.help-block {
  display: flex;

  align-items: center;

  position: fixed;
  height: 0;
  bottom: 0;
  right: 0;

  z-index: 1000;

  @include only-mobile {
    z-index: 1;
  }
}
