@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.card {
  &__button {
    &--favourite {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 50%;
      border: 1px solid var(--elements-color);

      &:hover {
        border-color: var(--primary-color);
      }
    }
  }
}
