@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.rights {
  padding: 20px;
  letter-spacing: -0.01em;
  color: var(--primary-color);

  &__main-title {
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 48px;
    line-height: 56px;

    @include only-mobile {
      font-size: 32px;
      line-height: 41px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 10px;

    @include only-mobile {
      font-size: 22px;
      line-height: 31px;
      letter-spacing: 0;
    }
  }
  &__descriptions {
    position: relative;
    margin-bottom: 70px;
    padding: 20px;

    background-color: #f7f7f7ef;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;

    font-size: 16px;
    line-height: 1.8;
    color: var(--secondary-color);
    cursor: pointer;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px var(--primary-color);
    }

    &:last-child {
      margin-bottom: 40px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: var(--primary-color);
      border-radius: 2px;
      bottom: -15px;
      left: 0;
      opacity: 0.2;
      transition: all 0.3s ease;
    }

    &:hover::after {
      opacity: 1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    }
  }
}
