@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.homePage {
  @include on-tablet {
    padding-top: 8px;
  }

  @include on-desktop {
    padding-top: 32px;
  }

  &__title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--primary-color);
  }

  &__swiperBox {
    margin-top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;

    @include only-mobile {
      margin-right: -16px;
      margin-left: -16px;
    }

    @include on-tablet {
      margin: 32px auto 0;

      width: calc(100% - 102px);
    }

    @include on-desktop {
      margin-top: 56px;
      margin-left: 48px;

      width: 1040px;
    }
  }

  &__newModels, &__categories {
    margin-top: 56px;

    @include on-tablet {
      margin-top: 64px;
    }

    @include on-desktop {
      margin-top: 80px;
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
  }
}
